header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

nav {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    font-size: 20px
}

.menu {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.menu li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

#firstnWord {
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
}

#secondWord {
    text-align: center;
    font-size: 13px;
    margin-bottom: 150px;
    color: gray;
}

#line-after-header {
    position: relative;
    width: 100%;
    height: 5px;
}

.custom-line-first {
    position: absolute;
    width: 100%;
    height: 5px;
    border: none;
    height: 2px;
    background-color: black;
}

.custom-line-second {
    position: absolute;
    border: none;
    height: 2px;
    background-color: black;
    transform: rotate(-0.3deg);
    width: 100%;
    left: 5px;
}

#Div-Projects {
    margin-top: 5px;
    border: 2px solid black;
    border-left: none;
    border-top: none;
}

#table {
    padding-left: 30px;
    width: 100%;
    border-collapse: collapse;
}

#th-Project {
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    text-align: left;
}

.td-words {
    padding: 10px;
    border-bottom: 1px solid black;
    font-size: 25px;
    padding-left: 30px;
    
}

#td-last-word {
    font-size: 25px;
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 100px;
}

#column-2 {
    border: 2px solid black;
    border-top: none;
    border-left: none;
}

#Work-Experience {
    border-bottom: 2px solid black;
    padding-bottom: 20px;
    padding-left: 20px;
}

#OpenSource-Work {
    padding-bottom: 20px;
    padding-left: 20px;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

#Education {
    border-bottom: 2px solid black;
    padding-left: 20px;
}

#footer-blocks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 200px;
    margin-right: 200px;
    padding-left: 100px;
    padding-right: 100px;
}

#footer-1 {
    border: 2px solid black;
    border-radius: 50px;
    margin: 50px;
    padding: 20px;
    font-size: 20px;
}

#footer-2 {
    border: 2px solid black;
    border-radius: 50px;
    margin: 50px;
    padding: 20px;
    font-size: 20px;
}

#footer-3 {
    border: 2px solid black;
    border-radius: 50px;
    margin: 50px;
    padding: 20px;
    font-size: 20px;
}

#footer-last-words {
    text-align: center;
    margin-top: 50px;
}